html,
body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* start header */
.myheader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.size {
  width: 80%;
  height: 100%;
  margin-bottom: 65px;
}

/*startin Navbar*/
.nav {
  height: 50px;
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 1000000;
  padding: 1% 0;
  font-family: "Roboto";
  color: #000;
}

.nav-header {
  display: inline;
}

.nav-title {
  display: inline-block;
  font-size: 30px;
  color: #000;
  padding: 10px 10px 10px 10px;
  margin-left: 11%;
  font-family: "Exo";
  font-weight: bold;
  letter-spacing: 2px;
}

.logo {
  width: 100%;
  font-family: "Exo";
}

.nav-btn {
  display: none;
}

.nav-links {
  display: inline;
  float: right;
  font-size: 16px;
  margin-right: 4%;
  color: #000;
  margin-top: 10px;
}


#top a:hover {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}


#top a:focus {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

/*endin Navbar*/

/* starting body */
.size2{
  width: 70%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newcontainer{
  width: 100%;
  display: flex;
  justify-content: center;

}

.arrow{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
margin-bottom: 50px;
}

.arrow p{
  margin: 0px 7px;
  font-weight: bold;
  font-size: 21px;
}

.arrow a img{
  width: 35px;
}

.content{
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}

.picture{
  width: 100%;
}

.picture img{
  width: 100%;
}

.paragraph{
  width: 90%;
  margin: 5% 0%;
}

.paragraph p{
font-weight: bold;
line-height: 32px;
font-size: 15px;
color: #4e87af;
}

/* ending body */

/* starting footer */
.myfooter {
  background-color: #19466e;
  color: #fff;
  border-radius: 150px 150px 0px 0px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  padding: 10px 0px;
}

.size3 {
  width: 75%;
  margin-left: 100px;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right {
  width: 495px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 17px;
}

.right img {
  width: 20%;
  margin: 0px 20px;
  margin-top: 10px;
}

.right p {
  margin: 5px;
  font-size: 13px;
  margin-top: 16px;
}

.left {
  width: 450px;
  margin-top: 10px;
}

.left p {
  color: #7491ad;
  margin-left: 90px;
}

.sections {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-left: 95px;
}

.sections div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
}

.sections div a {
  text-decoration: none;
  color: #fff;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-top: 5%;
}

.right2 {
  width: 420px;
}

.right2 img {
  margin: 0px 25px;
  width: 5%;
  margin-right: 13px;
}

.right2 a {
  text-decoration: none;
  color: #fff;
}

.left2 {
  width: 450px;
  display: flex;
  align-items: center;
}

.left2 p {
  margin-left: 42px;
  font-size: 13px;
  margin-bottom: 0px;
  margin-right: 10px;
}

.left2 img {
  width: 64%;
  margin: 0px 5px;
}

hr {
  width: 94%;
}

.copyrights {
color: #b6c9dc;
  text-align: center;
  text-align: center;
  margin-right: 73px;
}

.right2 a:hover{
  text-decoration: none;
  color: #fff;
}
/* ending footer */

/* starting responsive */
@media screen and (max-width: 800px) {
  .row-header p {
    margin-bottom: 2%;
    font-family: "Roboto";
    font-weight: 100;
    width: 100%;
    margin: 0 auto;
    color: #000000;
  }
}

.nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000;
  font-weight: 100;
  font-family: "Roboto";
}

.nav #nav-check {
  display: none;
}

@media (max-width: 1155px) {
  .size {
    width: 100%;
    height: 100%;
  }
  .nav-title {
    margin-left: 3%;
  }
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 9px;
  }
  .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #2a1f0b;
  }

  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: fit-content;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
    padding-left: 13px;
  }

  a {
    display: block;
    width: 100%;
  }

  #top a:hover {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 16px;
    letter-spacing: 1px;
    padding: 9px 15px;
    width: 80%;
  }

  .logo {
    width: 85%;
    font-family: "Exo";
  }
  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .size2{
    width: 100%;
    padding: 10px 10px;
  }

  .arrow a{
    width: 45px;
  }

  .myfooter {
    border-radius: 8% 8% 0% 0%;
    height: fit-content;
  }
  .size3 {
    width: 100%;
    margin-left: 0px;
    padding: 0px 15px;
  }

  .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .right {
    width: 499px;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    align-items: center;
    width: 450px;
  }

  .left p {
    margin-left: 0px;
  }

  .sections {
    /* width: 100%; */
    /* display: flex; */
    flex-direction: column;
    margin-left: 0px;
    width: 74%;
  }

  .bottom {
    justify-content: center;
    align-content: center;
  }

  .right2 {
    width: 499px;
    text-align: center;
  }

  .left2 {
    display: none;
  }

  hr {
    width: 100%;
  }

  .copyrights {
    text-align: center;
    margin-right: 0px;
  }
}
/* ending responsive */
